h1{
    padding: 0;
    background-color:#B2A59F;
    font-size: 150%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    color: white;
    background: #023459;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
body{
    margin: 0;
}

.navbar{
    font-family: "Bebas Neue", cursive;
    padding: 0px;
    color: #ffffff;
    height: 15%;
} .navbar.navbar-expand-lg{
    padding: 0px;
}

.nav-button-unclick{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
} .nav-button-click{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

@media (max-width: 993px) {.navbar-collapse{
    background-color: white;
    color: black;
}}

.white-bg{
    background-color: white !important;
}

.navbar-brand{
    padding-left: 1rem;
}

.logo{
    position: relative;
    top: 25%;
    width: 30%;
    height: auto;
} @media (max-width: 993px){.logo{
    position: relative;
    top: 25%;
    height: 50%;
    width: auto;
}} 

.double-img{
    width: 27.5%;
}
.div-image{
    width: 55%;
}
.circular{
    border-radius: 100%;
}

.NavBar-List{
    font-family: "Lato", sans-serif;
    margin-right: 1rem;
} .NavBar-List .active{
    font-weight: 600;
}

.main-container{
    text-align: center;
    background-color: #280a50;
    background-image: -webkit-linear-gradient(118deg, #280a50 50%, #3d1472 50%);
    height: 100vh;
}

.anime-container{
    text-align: center;
    background-color: #d11456;
    padding: 2rem 0;
}
.marvel-dc-container{
    text-align: center;
    background-color: #d24678;
    padding: 2rem 0;
}
.arts-container{
    text-align: center;
    background-color: #f35622;
    padding: 2rem 0;
}
.k-pop-container{
    text-align: center;
    background-color: #246474;
    padding: 2rem 0;
}
.book-container{
    text-align: center;
    background-color: #ff49;
    padding: 2rem 0;
}
.show-container{
    text-align: center;
    background-color: #ffff;
    padding: 2rem 0;
}

.footer-icon{
    margin: 0 0.625rem;
}

.footer-container{
    background-color: #ffdd;
}

.footer-row{
    width: 150px;
    justify-content: space-between;
    text-align: center;
}